body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  width: 60%;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 50px;
  border-radius: 5px;
}

h1 {
  color: #2c3e50;
}

h2 {
  color: #34495e;
}

a {
  text-decoration: none;
  color: #0073e6;
  font-weight: bold;
}
